# IDE-specific directories
.claude/
.cursor/
node_modules/
dist/
.expo
install-state.gz
ios
android

# JAR files (build artifacts) - ignore all JARs except those in target directories
**/*.jar
**/**/*.jar
**/**/**/*.jar
!**/target/**/*.jar

# ENV files
**/*.env
application-dev.properties
application-prod.properties
appsettings.Dev.json
appsettings.Prod.json