target/
!.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
*.class
.DS_Store


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Environment files with sensitive credentials
.env.dev
.env.prod
.env.local
